.finance-data {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.quarter-container {
  flex: 1 1 auto;
  position: relative;
  overflow: auto;
}
.quarter-container-inner {
  position: absolute;
  top: 0;
  left: 0;
}
.quarter-table {
  width: 100%;
  border-collapse: collapse;
  td {
    border: 1px solid #ddd;
    padding: 5px;
  }
}
.quarter-box {
  position: relative;
  margin-top: 3rem;
}
.quarter-title {
  font-weight: 700;
  padding: 0 0 1rem 2rem;
}
.quarter-add-container {
  padding: 1rem 0 0 2rem;
  border-bottom: 1px solid #000;
}
.quarter-add-btn {
  height: 32px;
  margin: 19px 0 0 20px;
  vertical-align: top;
}
.tax-tr-edit {
  position: relative;
}
.tax-btn {
  background-color: #ddd;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  padding: .5rem  1rem;
  border: 1px solid #ddd;
  transition-duration: .3s;
  cursor: pointer;
  &:hover {
    background: $main_color;
    border-color: $main_color;
  }
}
.tax-btn-add {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  fill: #ddd;
  transition-duration: .3s;
  cursor: pointer;
  &:hover {
    fill: $main_color
  }
}
.tax-btn-save {
  position: absolute;
  top: 100%;
  left: 0;
}
.tax-edit-input-name {
  background: none;
  border: none;
  border-bottom: 1px solid #ddd;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.6rem;
}
.tax-edit-input-numb {
  background: none;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 7rem;
  font-size: 1.6rem;
  font-family: "Roboto";
  font-weight: 300;
}

.input-date {
  width: 9rem;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 1.8rem;
  background: none;
  text-align: center;
  &.error {
    border-color: red;
  }
}